.btn-get-started {
  width: 250px;
  height: 60px;
  background-color: orange;
  font-weight: bolder;
  border-style: none;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
